@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500700800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(221, 100%, 99%);
}

section {
  display: flex;
  height: 400px;
  width: 550px;
  background-color: white;
  border-radius: 20px;
}
section .info {
  display: flex;
}
section .info__result {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 2rem;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 20px;
  width: 50%;
}
section .info__result h1 {
  color: hsl(0, 0%, 100%);
  opacity: 0.6;
  font-weight: 700;
}
section .info__result__counting {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
section .info__result__counting .circle {
  display: inline-block;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 100%;
  height: 160px;
  width: 160px;
}
section .info__result__counting .circle__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section .info__result__counting .circle__content span {
  color: hsl(0, 0%, 100%);
}
section .info__result__counting .circle__content__litle {
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0.6;
}
section .info__result__counting .circle__content__big {
  font-size: 3rem;
  font-weight: 800;
}
section .info__result__about {
  color: hsl(0, 0%, 100%);
}
section .info__result__about .title {
  font-size: 1.6rem;
}
section .info__result__about p {
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.6;
  font-weight: 500;
}
section .info__summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  width: 50%;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}
section .info__summary h3 {
  font-weight: 700;
}
section .info__summary ul li {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem 0.5rem;
  background-color: hsla(241, 72%, 46%, 0);
  border-radius: 10px;
  margin-top: 0.8rem;
}
section .info__summary ul li div {
  display: flex;
  align-items: center;
}
section .info__summary ul li div div {
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 0.9rem;
}
section .info__summary ul li .stat span {
  margin-left: 5px;
  color: #8d93a4;
}
section .info__summary ul #red {
  background-color: #ffeeee;
}
section .info__summary ul #red div div {
  color: hsl(0, 100%, 67%);
}
section .info__summary ul #yellow {
  background-color: #fff7e9;
}
section .info__summary ul #yellow div div {
  color: hsl(39, 100%, 56%);
}
section .info__summary ul #green {
  background-color: #e6f8f4;
}
section .info__summary ul #green div div {
  color: hsl(166, 100%, 37%);
}
section .info__summary ul #pure {
  background-color: #eaeafd;
}
section .info__summary ul #pure div div {
  color: hsl(241, 81%, 54%);
}
section .info button {
  margin-top: 1rem;
  height: 2.4rem;
  color: hsl(221, 100%, 99%);
  background-color: hsl(224, 30%, 27%);
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
}
section .info button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(252, 100%, 67%);
}

@media screen and (max-width: 562px) {
  section {
    width: 100vw;
    height: 100vh;
  }
  section .info {
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  section .info__result {
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
  }
  section .info__result p {
    text-align: center;
    width: 250px;
    margin: 0 auto;
  }
  section .info__summary {
    width: 100%;
  }
  section .info button {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=index.css.map */